
/* All Products */


.section .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  
  .all-products .top select {
    font-family: 'Poppins', sans-serif;
    width: 20rem;
    padding: 1rem;
    border: 1px solid #ccc;
    appearance: none;
    outline: none;
  }
  
  form {
    position: relative;
    z-index: 1;
  }
  
  form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
  }
  
  @media only screen and (max-width: 768px) {
    .all-products .top select {
      width: 15rem;
    }
  }
  
  /* Pagination */
  .pagination {
    display: flex;
    align-items: center;
    padding: 3rem 0 5rem 0;
  }
  
  .pagination span {
    display: inline-block;
    padding: 1rem 1.5rem;
    border: 1px solid var(--green);
    font-size: 1.8rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  
  .pagination span:hover {
    border: 1px solid var(--green);
    background-color: var(--green);
    color: #fff;
  }
  
  /* Cart Items */
  .cart {
    margin: 10rem auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  th {
    text-align: left;
    padding: 0.5rem;
    color: #fff;
    background-color: var(--green);
    font-weight: normal;
  }
  
  td {
    padding: 1rem 0.5rem;
  }
  
  td input {
    width: 5rem;
    height: 3rem;
    padding: 0.5rem;
  }
  
  td a {
    color: orangered;
    font-size: 1.4rem;
  }
  
  td img {
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
  }
  
  .total-price {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .total-price table {
    border-top: 3px solid var(--green);
    width: 100%;
    max-width: 35rem;
  }
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
  }
  
  .checkout {
    display: inline-block;
    background-color: var(--green);
    color: white;
    padding: 1rem;
    margin-top: 1rem;
  }
  
  @media only screen and (max-width: 567px) {
    .cart-info p {
      display: none;
    }
  }
  